**/node_modules

**/dist
**/build

**/.DS_Store
**/.idea
**/.npmrc

**/.cache
**/*.code-workspace
**/*.log
**/package.json.lerna_backup

**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
